@import '../../../styles/uswdsImports.scss';
@import '../../../styles/custom.scss';

.uploadedDocumentsTable {
    width: 100%;

    caption {
        text-align: left;
        margin-bottom: units(2);
    }

    th {
        font-size: size('body', '2xs');
    }

    th,
    td {
        text-align: left;
        padding: units(1);
    }

    tbody {
        tr:nth-child(even) {
            background: $theme-color-base-lightest;
        }
    }
}

.supportingDocsEmpty {
    text-align: center;
    padding: 1rem;
}

.withMarginTop {
    margin-top: 1.5rem;
}
.captionContainer {
    display: flex;
    justify-content: space-between;
}

.newDocTag {
    background-color: $theme-color-info-dark;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    border-radius: 2px;
    height: 18px;
    margin-right: 5px !important;
}
