/* Order matters in this file. */
@import 'theme/_cms';
@import 'theme/_color';

// Custom app wide styles

// containers
$width-max-contained: 50rem;
.app-container-horizontal-pad {
    max-width: $width-max-contained;
}

// accessibility
.srOnly {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// Top border linear gradient
.borderTopLinearGradient {
    border: 0 solid;
    border-top: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to right,
        $theme-color-gradient-dark,
        $theme-color-gradient-light
    );
    box-shadow: inset 0 0 1px $theme-color-base-dark,
        0px 0px 24px rgb(0 0 0 / 5%);
}

h3 {
    margin-top: 0;
    font-weight: normal;
    font-size: 1.3em;
}

.usa-logo {
    @include u-margin-y(2);
}

.usa-label,
.usa-legend {
    font-weight: bold;
}

.address {
    line-height: 1.5;
}

.usa-hint span {
    display: block;
    margin-top: units(1);
}

.usa-button--outline.usa-button--inverse {
    // Accessibility button contrast fix for inverse button. I couldn't get the color value to set properly unless I set it to !important... not ideal.
    box-shadow: inset 0 0 0 2px $cms-color-white;
    color: $cms-color-white !important;

    &:hover {
        box-shadow: inset 0 0 0 2px #dfe1e2;
        color: #dfe1e2 !important;
    }
}

.usa-checkbox__label,
.usa-radio__label {
    // The default spacing between checkboxes and radio buttons in USWDS feels too small, would like to increase this across the app.
    margin-top: 1rem;
}

// Remove link styles from button-styled links
a[class^='usa-button usa-button--outline'] {
    text-decoration: none !important;
    color: #1a4480 !important;
}

div[class^='usa-step-indicator'] {
    background-color: transparent;
    width: 66rem;
    margin: 1.25rem auto;
    text-align: center;

    ol {
        justify-content: center;
    }
}

[class^='usa-step-indicator__header'] {
    display: inline;
}
