@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.dataDetail {
    margin-bottom: units(4);

    @include at-media(tablet) {
        margin-bottom: 0;
    }

    dt {
        font-weight: bold;
    }

    dd {
        display: block;
        margin: 0;
        line-height: 1.5;
    }
}
