@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.formPage {
    width: 100%; 
}

.formContainer.tableContainer {

    &[class^='usa-form'] {
        max-width: 100%;
        width: 75rem;
    }
}

.stepIndicator {
    @include grid-container;
    width: 100%;

    > [class^='usa-step-indicator'] {
        width: 100%;
    }
}

.formHeader {
    text-align: center;
    width: 100%;
    padding: units(4) 0;
}

.formContainer {
    > [class^='usa-fieldset'] {
        padding: units(4);
        margin-bottom: units(2);
        margin-top: units(2);
        background: $cms-color-white;
        border: 1px solid $theme-color-base-lighter;
        @include u-radius('md');
    }

    h2 {
        margin-top: 0;
    }

    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    &[class^='usa-form'] {

        min-width: 100%;
        max-width: 100%;

        @include at-media(tablet){
            min-width: 40rem;
            max-width: 20rem;
            margin: 0 auto;
        }
    }
}

[class^='usa-legend'] {
    margin-top: 0;
}

.buttonGroup {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: units(3);
}

.dateRangePicker {
    [class^='usa-label'] {
        font-weight: normal;
    }
    [class^='usa-form-group'] {
        margin-top: 0.75rem;
    }
}

.nestedOptions {
    padding-left: units(4);
    margin: units(2) 0;
    border-left: 4px solid $theme-color-primary;

    legend,
    label {
        font-weight: normal;
    }
}

.nestedOptionsError {
    padding-left: units(4);
    margin: units(2) 0;
    border-left: 4px solid $theme-color-error-darker;
}

.stateContact,
.actuaryContact {
    margin-bottom: units(5);

    .removeContactBtn {
        margin-top: 0.5rem;
        @include u-text('secondary');
    }
}

.stateContacts,
.actuaryContacts {
    .addContactBtn {
        margin-top: 0.5rem;
    }

    .removeContactBtn {
        margin-top: units(4);
    }
}

.capitationLegend {
    p {
        margin-top: 0;
    }
}

.legendSubHeader {
    font-weight: normal;
}
