.optionsContainer {
    display: flex;
}

.optionsContainer label {
    margin-top: .8em;
}

.yesnofield {
    margin-top: .8em;
    margin-bottom: 1.5em;
}

.yesnofield legend {
    font-weight: normal;
}

.no {
    margin-left: 3em;
}
