@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.summarySectionWrapper {
    max-width: 50rem;
}

.summarySection {
    margin: units(2) auto;
    background: $cms-color-white;
    padding: units(2) units(4);
    border: 1px solid $theme-color-base-lighter;
    line-height: units(3);
    @include u-radius('md');

    h2 {
        margin: 0;
        @include u-text('normal');
    }
    &:first-of-type {
        h2 {
            @include u-text('bold');
            font-size: size('body', 'lg');
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: units(1) 0;
        }
    }

    // align state contacts
    dl div[class^='grid-container'] {
        padding: 0;

        div {
            padding-bottom: units(2);
        }

        // dont bottom pad last two grid items
        div:nth-last-child(-n + 2) {
            padding-bottom: 0;
        }
    }
}

.summarySectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: units(2);
}

.summarySectionHeaderBorder {
    border-bottom: 1px solid $theme-color-base-lighter;
    margin-bottom: units(4);
}

.summarySectionSubHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: units(4) 0;
    padding-top: units(4);
    border-top: 1px solid $theme-color-base-lighter;
}

.contactInfo p {
    margin: units(1) 0;
}

.documentDesc {
    margin: 0;
}

.submitButton {
    background: $theme-color-success;
    &:hover {
        background-color: #2a7a3b !important;
    }
}

@media print {
    header,
    footer,
    .pageActions,
    .summarySectionHeader a {
        display: none;
    }
    .summarySection {
        border: none;
        padding: 0;
    }
}
